<launch>
  <arg name="launch_prefix" default="" />
  <arg name="node_namespace" default="basic_detection" />
  <arg name="base_topic" default="/XPS15_webcam" />
  <arg name="image_topic" default="image" />
  
  <node pkg="aruco_ros_cvwrap" type="basic_detection" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)">
    <rosparam command="load" file="$(find aruco_ros_cvwrap)/config/ekf_config.yaml" />
    <param name="base_topic" value="$(arg base_topic)" />
  </node>
  
</launch>
