<launch>
  <arg name="launch_prefix" default="" />
  <arg name="camera_name" default="XPS15_webcam" />
  <arg name="camera_info_url" default="file://$(find aruco_ros_cvwrap)/camera_info/XPS15_webcam.yaml" />
  <arg name="base_topic" default="/$(arg camera_name)" />
  <arg name="image_topic" default="image" />
  <arg name="index" default="0"/>
  <arg name="pub_image" default="false"/>
  <arg name="tag_length" default="0.1"/>

  <include file="$(find aruco_ros_cvwrap)/launch/basic_camera.launch" pass_all_args="true"/>

  <include file="$(find aruco_ros_cvwrap)/launch/basic_detection.launch" pass_all_args="true">
    <arg name="base_topic" default="/$(arg camera_name)" />
  </include>
</launch>
